/* .form-style{
    display: flex;
}

.form{
    background-color: rgb(210, 231, 210);
    width: 353px;
    padding: 40px;
    margin: auto;
    margin-top: 50px;
}
p{
    display: flex;
    font-weight: bolder;
}
.form  input{
    width: 91%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    background: rgb(247, 245, 245);
    border-radius: 10px;
    outline: none;
}
.btn-style{
    width: 98%;
    padding: 12px;
    margin-top: 12px;
    border: none;
    background: rgb(219, 99, 63);
    border-radius: 10px;
    outline: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.btn-style:hover {
    color: black;
    font-weight: bolder;
} */